<?xml version="1.0"?>
<launch>
  <arg name="view" default="true"/>

  <node name="head_camera" pkg="usb_cam" type="usb_cam_node">
    <!-- カメラの指定　defaultは/dev/video0 -->
    <!-- <param name="video_device" value="/dev/video2"/> -->
    <param name="video_device" value="/dev/video2"/>
    <!-- 画像の大きさ（横幅）の指定 -->
    <param name="image_width" value="640"/>
    <!-- 画像の大きさ（縦幅）の指定 -->
    <param name="image_height" value="480"/>
    <!-- 画像フォーマット設定　"mjpeg" or "yuyv" or "uyvy" -->
    <param name="pixel_format" value="mjpeg"/>
    <!-- fpsの指定　frame per second -->
    <param name="framerate" value="25"/>
    <!-- コントラストの設定（色設１） -->
    <!-- <param name="contrast" value="32"/> -->
    <!-- 明るさの設定（色設２） -->
    <!-- <param name="brightness" value="32"/> -->
    <!-- 彩度の設定（色設３） -->
    <!-- <param name="saturation" value="32"/> -->
    <!-- 自動フォーカス機能の設定　ブール値 -->
    <!-- <param name="autofocus" value="true"/> -->
    <!-- フォーカス位置の設定 -->
    <!-- <param name="focus" value="51"/> -->
  </node>
  <group if="$(arg view)">
    <node name="image_view" pkg="image_view" type="image_view" >
      <remap from="image" to="/image_raw"/>
    </node>
  </group>
</launch>
